# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8
language: objective-c
env:
    - ACTION=test  PLATFORM=iOS     DESTINATION='platform=iOS Simulator,name=iPhone 6S'
script:
    - set -o pipefail && xcodebuild test -workspace Example/SAPinViewController.xcworkspace -scheme -destination "$DESTINATION" $ACTION | xcpretty
